{# TODO: margins #}
{% extends 'base.html' %}
{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('solve') }}">Решить тест</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="manage-users" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Пользователи
        </a>
        <div class="dropdown-menu" aria-labelledby="manage-users">
            <a class="dropdown-item" href="{{ url_for('manage_users') }}">Управление</a>
            <a class="dropdown-item" href="{{ url_for('add_users') }}">Добавить</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('manage_questions') }}">Вопросы</a>
    </li>
{% endblock %}
{% block content %}{% endblock %}
