<p>
    Привет! Тебе предстоит выполнить тест по английскому языку. Длительность теста — <b>60 минут</b>.
    В каждом задании нужно выбрать <b>ровно один</b> вариант ответа.
</p>
<p>
    Решать задания можно в любом порядке. Если не знаешь ответ на вопрос, пропусти его. Ты сможешь вернуться к нему позднее.
</p>
<p>
    После окончания работы ты сможешь узнать свой результат и допущенные ошибки.
</p>
<p>
    Если возникнут какие-либо вопросы, обращайся к дежурному преподавателю в аудитории.
</p>
<p>
    <b>Желаем успехов!</b>
</p>