<p>
    Привет! Сейчас тебе предстоит пройти тест по английскому языку. Время выполнения работы
    составит <b>60 минут</b>. Тест состоит из заданий, в каждом из которых нужно выбрать <b>ровно один</b>
    вариант ответа. За каждое верно выполненное задание тебе будут начислены баллы.
</p>
<p>
    Решать задания можно в любом порядке. Если ты не знаешь ответ на вопрос, можешь ничего не выбирать.
    Переходи к следующему заданию, если ты понимаешь, что не знаешь ответ на текущее. Ты сможешь вернуться
    к нему позднее. Если ты завершишь выполнение теста до окончания отведенного времени, нажми кнопку
    <i>«Завершить тест»</i> в верхней части страницы.
</p>
<p>
    Когда время, отведённое на выполнение работы истечёт, тест будет автоматически завершён.
</p>
<p>
    Сразу после окончания работы ты сможешь узнать свои баллы и допущенные ошибки.
</p>
<p>
    Мы надеемся на то, что ты будешь выполнять работу честно: не списывай, не пользуйся телефоном, словарём,
    а также иными справочными материалами и иными устройствами. Также не разговаривай с другими ребятами во
    время выполнения работы. За этот тест оценки не выставляются, он нужен для выявления твоего уровня
    знаний и выбора той образовательной программы, которая будет тебе полезна.
</p>
<p>
    Если у тебя возникают вопросы, обратись к дежурному преподавателю в аудитории.
</p>
<p>
    <b>Желаем успехов!</b>
</p>